.text-justify-custom{
    text-align: justify;
}
.navbar-brand{
    margin-left: 20px;
}
.img12{
    width: 350px;
    height: 350px;
    border: 2px solid #00ff66;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 255, 102, 0.5);
}

@media (max-width: 767px) {   
    .HomePageTextIntroduction{
        margin-top: 40px;
    }
    .img12{
        display: block;
        margin: auto;
        margin-top: 50px;
    }




    #AboutPage{
        text-align: justify;
    }
    .aboutImage{
        margin-top: 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    #HomePage{
        height: 100vh;
    }
    .home-row{
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
    .img12{
        display: block;
        margin: auto;
        
    }


    #AboutPage{
        text-align: justify;
    }
    .aboutImage{
        margin-top: 60px;
    }
}
@media (min-width: 992px) and  (max-width: 1199px){

    .home-row{
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
    .img12{
        display: block;
        margin: auto;
        
    }



    #AboutPage{
        text-align: justify;
    } 
}
@media (min-width: 1200px) and (max-width: 1399px){
    .home-row{
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
    .img12{
        display: block;
        margin: auto;
        
    }
}
@media (min-width: 1400px){
    .home-row{
        min-height: 100vh;
        display: flex;
        align-items: center;
    }
    .img12{
        display: block;
        margin: auto;       
    }
}